doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    title #{title} - Hackathon Starter
    link(rel='shortcut icon', href='/favicon.png')
    link(rel='stylesheet', href='/css/main.css')
    block head

  body
    include partials/header

    .container
      //- include partials/flash
      block content

    include partials/footer

    script(src='/js/lib/jquery.min.js')
    script(src='/js/lib/popper.min.js')
    script(src='/js/lib/bootstrap.min.js')
    script(src='/js/main.js')

    script.
      $(".order-form fieldset:first-child").fadeIn("slow");

      $('.order-form input[type="text"], .order-form input[type="password"], .order-form textarea').on("focus", function() {
        $(this).removeClass("input-error");
      });

      // next step
      $(".btn-next").on("click", function() {
        var parent_fieldset = $(this).parents("fieldset");
        var next_step = true;

        parent_fieldset
          .find('input[type="text"], input[type="password"], input[type="file"], textarea')
          .each(function() {
            if ($(this).val() == "") {
              $(this).addClass("input-error");
              next_step = false;
            } else {
              $(this).removeClass("input-error");
            }
          });

        if (next_step) {
          parent_fieldset.fadeOut(400, function() {
            $(this)
              .next()
              .fadeIn();
          });
        }
      });

      // previous step
      $(".order-form .btn-previous").on("click", function() {
        $(this)
          .parents("fieldset")
          .fadeOut(400, function() {
            $(this)
              .prev()
              .fadeIn();
          });
      });

      // submit
      $(".order-form").on("submit", function(e) {
        $(this)
          .find('input[type="text"], input[type="password"], textarea')
          .each(function() {
            if ($(this).val() == "") {
              e.preventDefault();
              $(this).addClass("input-error");
            } else {
              $(this).removeClass("input-error");
            }
          });
      });
      
