extends layout

block content
  .row.justify-content-md-center
    .col.col-sm-6.col-sm-offset-3.form-box
      form.order-form(role='form', enctype='multipart/form-data', method='post')
        fieldset
          .form-top
            .form-top-left
              h3 Step 1
              p Upload Background Photo:
              p Minimum File Resolution: 700px width by 700px height
              p Valid File Types: JPG, PNG
          .form-bottom
            input.product_id(type='hidden' name='product_id' value='470')
            .form-group.row
              label.col-form-label.font-weight-bold(for='temp-bg') Template Background
              a.add-bg-btn.ml-3.mb-3.btn-sm.btn.btn-primary(onclick="addNew()", href="#") Add Background
            .row
              #imagers

            button.btn.btn-success.btn-next.mt-3.hidden
              i.fas.fa-arrow-right.fa-sm
              | Next

        fieldset
          .form-top
            .form-top-left
              h3 Step 2
              p Upload Video
              p Video Length: Up to 2gb of video.
              p Minimum Resolution: 480&times;272
              p Supported File Formats: AVI, MP4, WMV, MOV
          .form-bottom
            .form-group.row
              label.col-md-3.col-form-label.font-weight-bold.text-right(for='video') Video
              .col-md-7
                input#video(type='file' name='video')
            .form-group.row
              label.col-md-3.col-form-label.font-weight-bold.text-right(for='message') Inside Message
              .col-md-7
                textarea#message(name='caption' rows='5' placeholder='Message')
            .form-group.row
              label.col-md-3.col-form-label.font-weight-bold.text-right(for='sign_off') Sign off
              .col-md-7
                input#sign_off.form-control(type='text' name='sign_off' placeholder='Sign Off')
            button.btn.btn-success.btn-next.btn-vid-card(type='submit') Submit

        fieldset
          .form-top
            .form-top-left
              h3 Uploaded Image
              #uploaded-img.row

              h3.mt-5 Uploaded Video
              #uploaded-video.row.mb-5
                i.fa.fa-spinner.fa-pulse
                //- progress#progress(value='0')
                //- span#display

          .form-bottom
            .form-group.row
              a.btn.btn-add-to-cart(href="https://client-bde.pixelpixelpixelpixel.com/checkout/?add-to-cart=470") Add to Cart

  script.

    
    