form.order-form fieldset {
  display: none;
}

form.order-form textarea {
  width: 100%;
}

#image_bg {
  max-width: 700px;
  max-height: 700px;
}

#uploaded-img img, #uploaded-video video, #uploaded-audio audio {
  width: 100%
}

i.fa-spinner {
  margin: 0 auto;
  font-size: 50px;
}

.progress, .progress-vid {
  background: #007bff;
  display: block;
  height: 20px;
  text-align: center;
  transition: width .3s;
  width: 0;
}

.progress.hide, .progress-vid.hide {
  opacity: 0;
  transition: opacity 1.3s;
}

.crop-area {
  display: none;
}

.crop-area.ready{
  display: block;
}

.crop-area-wrap {
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.hidden {
  display: none !important;
}